*.log
EstructuraDatos/Client/bin/
EstructuraDatos/Client/obj/
EstructuraDatos/ConsoleClient/bin/
EstructuraDatos/ConsoleClient/obj/
EstructuraDatos/Core/bin/
EstructuraDatos/Core/obj/
EstructuraDatos/.vs/



